.list-pokemon {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: auto;
}

.search {
    display: block;
    width: 70vh;
    padding: 15px;
    margin: 50px auto 50px;
    font-size: 1rem;
    box-shadow: 3px 5px;
    border-radius: 5px;
    border: 2px solid black;
  }